<template> 
    <nb-header noShadow>
      <nb-left>
        <nb-button transparent :on-press="toggleDrawer">
          <nb-icon name="menu" />
        </nb-button>
      </nb-left>
      <nb-body>
        <nb-title>Tie Library</nb-title>
      </nb-body> 
    </nb-header>  
</template>
<script> 
import NavigationService from "../../services/NavigationService"
export default {
    methods: {
      toggleDrawer:function() {
        NavigationService.openDrawer();
      }
    },
}
</script>
<style>
</style>