<template>
    <svg :style="svg.style">
        <line :style="svg.line.style"
            :x1="0"
            y1="0"
            :x2="svg.style.width-10"
            y2="0"
            stroke="gray" 
            strokeWidth="2"
        ></line>
    </svg>    
</template>
<script>
import Svg,{Line} from "react-native-svg"
import {Dimensions} from "react-native"

const deviceHeight = Dimensions.get("window").height;
const deviceWidth = Dimensions.get("window").width;
export default {
    data() {
        return {
            svg:{
                style: {
                    width: deviceWidth,
                    height: 2,
                    padding: 10
                },
                line:{
                    style:{

                    }
                }
            },
        }
    },
    components: { 
        Svg,
        Line
    },
}
</script>