<template>
    <nb-container>
        <nb-content>
            <image :source="drawerCover" class="drawer-cover"  :style="stylesObj.drawerCoverObj" />
            <nb-list>
                <nb-separator/> 
                <nb-list-item 
                    v-for="menuItem in menuItems" 
                    :key="menuItem.route" 
                    icon 
                    button 
                    noBorder        
                    :selected = "routeName===menuItem.route"
                    :onPress = "()=>handleListItemClick(menuItem.route)"
                    >
                    <nb-left>
                        <nb-icon :name="menuItem.icon"></nb-icon>
                    </nb-left>
                    <nb-body>
                        <nb-text>{{menuItem.name}}</nb-text>
                    </nb-body>
                </nb-list-item>
                <nb-separator/> 
                  <nb-list-item   
                    icon 
                    button 
                    noBorder  
                    :onPress = "()=>handleLogoutItemClick()"              
                    >
                    <nb-left>
                        <nb-icon name="exit" :style="{color:'#777'}"></nb-icon>
                    </nb-left>
                    <nb-body>
                        <nb-text>Logout</nb-text>
                    </nb-body>
                  </nb-list-item>
            </nb-list> 
        </nb-content>
        <!-- <navigation-events></navigation-events> -->
    </nb-container>    
</template>
<script>
import {
    Dimensions,
    Platform,
    Alert
} from "react-native"; 

import drawerCover from "../../assets/images/img.png"
import NavigationService from "../../services/NavigationService" 
import AuthenticationService from "../../services/AuthenticationService"

const deviceHeight = Dimensions.get("window").height;
const deviceWidth = Dimensions.get("window").width;

export default {
    props: {
        navigation: {
            type: Object,
        },
        activeItemKey:{
            type: String
        }
    },
    data() {
        return {
            drawerCover: drawerCover,
            stylesObj: {
                drawerCoverObj: {
                    height: deviceHeight / 3.2
                },
                drawerImageObj: {
                    left: Platform.OS === "android" ? deviceWidth / 10 : deviceWidth / 9,
                    top: Platform.OS === "android" ? deviceHeight / 13 : deviceHeight / 12,
                    resizeMode: "cover"
                },
                badgeText: {
                    fontSize: Platform.OS === "android" ? 11 : 13,
                    marginTop: Platform.OS === "android" ? -3 : 0,
                    fontWeight: "400"
                },
            },
            menuItems:[     
                {           
                    name: "Home",
                    route: "Home",
                    icon: "home",
                    bg: "#C5F442"
                },
                {
                    name: "Text Books",
                    route: "TextBooks",
                    icon: "book",
                    bg: "#ffffff"
                },
                {
                    name: "Reference Books",
                    route: "ReferenceBooks",
                    icon: "paper",
                    bg: "#ffffff"
                },
                {
                    name: "Literature Books",
                    route: "LiteratureBooks",
                    icon: "filing",
                    bg: "#ffffff"
                } 
            ]
        }
    },   
    computed: {
        routeName() {
            return NavigationService.getActiveRouteName(this.navigation.state) 
        }
    },
    methods: {
        handleListItemClick(route) {
            this.navigation.navigate(route)
        },
        handleLogoutItemClick(){
            Alert.alert(
                'Logging out',
                'Are you sure you want to logout?',
                [ 
                    {
                        text: 'Cancel',
                        onPress: () => console.log('Cancel Pressed'),
                        style: 'cancel',
                    },
                    {
                        text: 'Yes', onPress: () => this.logout()
                    },
                ],
                {cancelable: false},
            );
        },
        logout(){
            AuthenticationService.logout(()=>{
                NavigationService.navigate("Authorization")
            })       
        }
    },
}
</script>
<style> 
.drawer-cover {
    flex: 1;
    width:auto;
    align-self: stretch;
    position: relative;
    margin-bottom: 10;
} 
nb-list-item:selected{ 
    background-color: #ccc,
}
</style>