<template>
    <touchable-opacity :onPress="containerPressedHandler">
        <nb-container :style="{margin:12,backgroundColor:'#008080'}">
            <nb-content>  
                    <image :source="image.source" :style="image.style"></image> 
            </nb-content>
        </nb-container>        
    </touchable-opacity>
</template>
<script>
import {Dimensions} from "react-native"
import env from "../../environments/app" 

const deviceHeight = Dimensions.get("window").height;
const deviceWidth = Dimensions.get("window").width;

export default {
    data() {
        return {
            image: {
                style: {
                    height: deviceHeight/2.7,
                    width: deviceWidth/2.4, 
                    resizeMode: "cover"
                },
                source: {uri:""}
            }
        }
    },
    props: {
        textBook: {
            type: Object
        },
        navigation: {
            type: Object
        }
    },
    methods: {
        containerPressedHandler() {
            this.navigation.navigate("ViewTextBook",{textBook:this.textBook})
        }
    },
    components: { 
    },
    created () { 
        // console.log(this.textBook)
        this.image.source.uri = this.textBook.local?this.textBook.thumbnail_url:env.resourcesUrl+this.textBook.thumbnail_url
    },
}
</script>
<style> 
</style>