<template>
    <nb-container>
        <header></header>
        <!-- <view> -->
            <scroll-view 
            >
                <view :style="{margin:10}">
                    <nb-text>Text books</nb-text>            
                </view>
                <view :style="scrollViewHolder.style">
                    <view v-if="loading.textBooks">
                        <nb-spinner></nb-spinner>
                    </view>
                    <scroll-view :horizontal="true" v-if="!loading.textBooks">
                        <text-book v-for="textBook in textBooks" :key="textBook.id" :textBook="textBook" :navigation="navigation"/>     
                    </scroll-view>            
                </view>    
                <view :style="{margin:10}">
                    <nb-text>Reference books</nb-text>
                </view>
                <view :style="scrollViewHolder.style">
                    <view v-if="loading.referenceBooks">
                        <nb-spinner></nb-spinner>
                    </view>
                    <scroll-view :horizontal="true" v-if="!loading.referenceBooks">
                        <text-book v-for="textBook in referenceBooks" :key="textBook.id" :textBook="textBook" :navigation="navigation"/>     
                    </scroll-view>
                </view>       
                <view :style="{margin:10}">
                    <nb-text>Literature books</nb-text>
                </view>
                <view :style="scrollViewHolder.style">
                    <view v-if="loading.literatureBooks">
                        <nb-spinner></nb-spinner>
                    </view>
                    <scroll-view :horizontal="true" v-if="!loading.literatureBooks">
                        <literature-book v-for="literatureBook in literatureBooks" :key="literatureBook.id" :literatureBook="literatureBook" :navigation="navigation"/>     
                    </scroll-view>
                </view>    
                <nb-button :style="{margin:10}" block :onPress="onRefreshPressHandler">
                    <nb-text>Refresh</nb-text>
                </nb-button>
            </scroll-view>
            <nb-container>
              
            </nb-container>
        <!-- </view> -->
    </nb-container>
</template>
<script>
import React from "react"
import {Dimensions,RefreshControl} from "react-native"
import RequestsService from "../../services/RequestsService"
import FileSystemService from "../../services/FileSystemService"
import StorageService from '../../services/StorageService'

import TextBook from "../components/TextBook"
import LiteratureBook from "../components/LiteratureBook"
import SavedTextBook from "../components/SavedTextBook"
import Header from "../components/Header"

import env from "../../environments/app"

const deviceHeight = Dimensions.get("window").height;
const deviceWidth = Dimensions.get("window").width;

export default {
    mounted() {
        this.loadHome()
    },
    components: {
        TextBook,
        SavedTextBook,
        Header,
        LiteratureBook
    },
    props: {
        navigation: {
            type: Object
        }
    },
    data() {
        return {
            textBooks: [],
            referenceBooks: [],
            literatureBooks: [],
            savedTextBooks: [],
            scrollViewHolder:{
                style:{
                    height: deviceHeight / 2.6
                }
            },
            screen:{ 
                isRefreshing: true
            },
            loading:{
                textBooks: true,
                referenceBooks: true,
                literatureBooks: true
            }
        }
    },
    methods: {
        loadHome() {
            this.loading.textBooks = true
            this.loading.referenceBooks = true
            this.loading.literatureBooks = true
            RequestsService.getAllTextBooks({ count: 8, random: true },textBooksResult=>{
                this.textBooks = textBooksResult.response 
                this.loading.textBooks = false 
            })
            RequestsService.getAllReferenceBooks({count:8, random: true},referenceBooksResult=>{
                this.referenceBooks = referenceBooksResult.response
                this.loading.referenceBooks = false
            })
            RequestsService.getAllLiteratureBooks({count:8, random: true}, literatureBooksResult=>{ 
                this.literatureBooks = literatureBooksResult.response
                this.loading.literatureBooks = false
            })
            // StorageService.getAllKeys()
            // FileSystemService.getFilesInDirectory(env.textbookStorageLocation,files=>{
            //     files.forEach( element => {
            //         StorageService.getTextBook(element,res=>{
            //             console.log(element,res)
            //             if(res!=null)
            //             this.savedTextBooks.push(res)
            //         })
            //     });
            // })
        },
        onRefreshPressHandler(){
            this.loadHome()
        } 
    },
}
</script> 