<template>
    <nb-container>
        <my-epub :url="url" :type="type"></my-epub>
    </nb-container>
</template>
<script>
import env from "../../environments/app" 
import PDFView from "react-native-view-pdf"
import React from "react"
import {View} from "react-native"
import MyEpub from "../components/MyEpub"

export default {
    props: {
        navigation: {
            type: Object
        },
    },
    data() {
        return {
            url: this.navigation.state.params.url,
            type: this.navigation.state.params.fileType,
            pdf: {
                source:{
                    uri: this.url
                },
                style:{
                    flex: 1
                }
            }
        }
    }, 
    components: {
        MyEpub,
    },
}
</script>