<template>
    <nb-container>
        <flat-list 
            v-if="!loading.main" 
            :data="literatureBooks" 
            :renderItem="(literatureBook)=>loadLiteratureBookView(literatureBook)"
            :keyExtractor="literatureBook => literatureBook.id.toString()"
            :numColumns="2"
            :horizontal="false"
            :onReachEndThreshold="0.5"
            :ListFooterComponent="renderPageFooter"
            :onEndReached="onEndReachedHandler"
        />
         <view v-if="loading.main">
            <nb-spinner></nb-spinner>
        </view>
    </nb-container>
</template>
<script>
import React from "react" 
import { Dimensions, View } from "react-native"
import { Spinner } from "native-base"

import LiteratureBook from "../../../components/LiteratureBook"

import RequestsService from "../../../../services/RequestsService"

const deviceHeight = Dimensions.get("window").height;
const deviceWidth = Dimensions.get("window").width;

export default {
    props: {
        navigation: {
            type: Object
        },
    },
    data() {
        return {
            literatureBooks: [],
            page: 1,
            loading:{
                main: true,
                footer: true
            },
            itemStyle:{
                style:{
                    height: deviceHeight / 2.6
                }
            }
        }
    },
    mounted () {
        this.loadPageContents()
    },
    methods: {
        loadLiteratureBookView(literatureBook) { 
            return (
                <LiteratureBook literatureBook={literatureBook.item} navigation={this.navigation} style={this.itemStyle.style}/>
            )
        },
        loadPageContents(){
            RequestsService.getAllLiteratureBooks({ paginate:8, page: this.page },literatureBooksResult=>{
                this.literatureBooks = this.literatureBooks.concat(literatureBooksResult.response)
                this.loading.main = false 
                this.page++
            })
        },
        renderPageFooter(){
            if(!this.loading.footer)
                return null

            return (
                <View>
                    <Spinner></Spinner>
                </View>
            )
        },
        onEndReachedHandler(){
            this.loadPageContents();
        }
    },
    components: { 
    },
}
</script>