<template>
    <nb-container>
        <application-navigator ref="drawerRef"></application-navigator>
    </nb-container>
</template>
<script>
import {
    createDrawerNavigator,
    createAppContainer,
    createStackNavigator
} from "vue-native-router"
import { 
    createFluidNavigator
} from "react-navigation-fluid-transitions"
import React from 'react'
import color from 'color'

import HomeScreen from "../screens/application/HomeScreen"

import TextBooksScreen from "../screens/application/text/TextBooksScreen"
import TextBookScreen from "../screens/application/text/TextBookScreen"
import ReferenceBooksScreen from "../screens/application/reference/ReferenceBooksScreen"
import LiteratureBooksScreen from "../screens/application/literature/LiteratureBooksScreen"
import LiteratureBookScreen from "../screens/application/literature/LiteratureBookScreen"

import ReadPdfScreen from "../screens/application/ReadPdfScreen"
import ReadEpubScreen from "../screens/application/ReadEpubScreen"

import Sidebar from "../screens/components/Sidebar"
import Header from "../screens/components/Header"

import NavigationService from "../services/NavigationService"

import changeNavigationBarColor from "react-native-navigation-bar-color"

const ApplicationStack = createFluidNavigator(
    {
        Home: HomeScreen,
        TextBooks: TextBooksScreen,
        ReferenceBooks: ReferenceBooksScreen,
        LiteratureBooks: LiteratureBooksScreen,
        ViewTextBook: TextBookScreen,
        ViewLiteratureBook: LiteratureBookScreen,
        ReadPdf: ReadPdfScreen,
        ReadEpub: ReadEpubScreen
    },
    {
        defaultNavigationOptions:{
            header: props => {
                return <Header {...props}/>
            }
        }
    }
)

const DrawerNavigator = createDrawerNavigator(
    {
        Application: ApplicationStack
    },
    {
        initialRouteName: "Application",
        contentComponent: props => {
            return <Sidebar {...props} />  
        }
    }
)

const ApplicationNavigator = createAppContainer(DrawerNavigator)
export default {
    components:{
        ApplicationNavigator,
        Header
    },
    mounted () { 
        NavigationService.setDrawerNavigator(this.$refs.drawerRef)
    },
    created () {
        let navColor = color("#008080")
            .darken(0.2)
            .hex();
        changeNavigationBarColor(navColor,false)
    },
}
</script>