<template>
    <nb-container> 
    </nb-container>
</template>
<script>
import StorageService from "../services/AuthenticationService"
import AuthenticationService from '../services/AuthenticationService';
export default { 
    props: {
        navigation: {
            type: Object,
        },
    },
    methods: {
        checkLogin() {
            AuthenticationService.checkAuthentication(
                ()=>this.navigation.navigate('Application'),
                ()=>this.navigation.navigate('Authorization')
            )
        }
    },
    mounted () {
        this.checkLogin();
    },
}
</script>