<template>
    <nb-container>
        <status-bar backgroundColor="gray" barStyle="light-content"/>
        <authorization-navigator></authorization-navigator>    
    </nb-container>
</template>
<script>
import {
    createStackNavigator,
    createAppContainer
    } from "vue-native-router"
import color from 'color'

import changeNavigationBarColor from "react-native-navigation-bar-color"
import LoginScreen from "../screens/authorization/LoginScreen"
import VerificationScreen from "../screens/authorization/VerificationScreen"
import PasswordResetScreen from "../screens/authorization/PasswordResetScreen"

const StackNavigator = createStackNavigator(
    {
        Login: LoginScreen,
        PasswordReset: PasswordResetScreen,
        Verification: VerificationScreen
    },
    {
        defaultNavigationOptions:{
            header: null
        }
    }
)
const AuthorizationNavigator = createAppContainer(StackNavigator)

export default {
    components: {
        AuthorizationNavigator,
    },
    mounted () {
    },
    created () {
        let navColor = color("gray") 
            .hex();
        changeNavigationBarColor(navColor,false);
    },
}
</script>