<template>
    <nb-container>
        <header></header>  
            <nb-container :style="container.style">
                <nb-content> 
                    <image :source="image.source" :style="image.style"/>  
                    <line></line>
                    <nb-h3 :style="{marginBottom:10}">{{textBook.title}}</nb-h3>
                    <line></line>
                    <scroll-view :horizontal="true" :style="{paddingTop:10,paddingBottom:10}">
                        <nb-badge class="custom-badge"> 
                            <nb-text>
                                {{textBook.size}}
                            </nb-text>
                        </nb-badge>
                        <nb-badge class="custom-badge"> 
                            <nb-text>
                                {{textBook.extension}}
                            </nb-text>
                        </nb-badge>
                        <nb-badge class="custom-badge"> 
                            <nb-text>
                                {{textBook.subject}}
                            </nb-text>
                        </nb-badge>
                        <nb-badge class="custom-badge"> 
                            <nb-text>
                                {{textBook.language}}
                            </nb-text>
                        </nb-badge>
                        <nb-badge class="custom-badge"> 
                            <nb-text>
                                {{textBook.publisher}}
                            </nb-text>
                        </nb-badge>
                        <nb-badge class="custom-badge"> 
                            <nb-text>
                                {{textBook.year}}
                            </nb-text>
                        </nb-badge> 
                    </scroll-view>
                    <nb-text class="description-text">{{textBook.description}}</nb-text>  
                    <nb-container :style="{marginTop: 10,marginBottom:25, flexDirection:'row', height: 30}" >
                        <nb-button block :style="button.style"  :onPress="readPressHandler" >
                            <nb-text>Read</nb-text>
                        </nb-button>
                        <nb-button block :style="button.style" :onPress="savePressHandler" v-if="!isLocal">
                            <nb-text>Save</nb-text>
                        </nb-button>                    
                        <nb-button block danger :style="button.style" :onPress="deletePressHandler" v-if="isLocal">
                            <nb-text>Delete</nb-text>
                        </nb-button>                    
                    </nb-container>
                </nb-content>
            </nb-container>    
            <confirm-dialog
                :visible="download.showDownload"
                :title = "download.title" 
                :message = "download.downloadProgress"
                :negativeButton = "{
                    title: 'Cancel',
                    onPress: onCancelHandler
                }"
            > 
            </confirm-dialog>
    </nb-container>    
</template>
<script>
import Header from "../../components/Header"
import Line from "../../components/Line"
import { Dimensions, BackHandler, Alert } from "react-native"
import env from "../../../environments/app" 
import { ConfirmDialog } from "react-native-simple-dialogs"

import FileSystemService from "../../../services/FileSystemService"
import NavigationService from '../../../services/NavigationService'
import StorageService from '../../../services/StorageService'
import AuthenticationService from '../../../services/AuthenticationService'

const deviceHeight = Dimensions.get("window").height;
const deviceWidth = Dimensions.get("window").width;

export default {
    props: { 
        navigation: {
            type: Object
        }
    },
    data() {
        return {
            image: {
                style: {
                    height: deviceHeight/2.5,
                    width: deviceWidth/2.2, 
                    resizeMode: "cover",
                    alignSelf: "center",
                    marginTop: 15,
                    marginBottom: 15
                },
                source: {uri:""}
            },
            container:{
                style: {
                    paddingLeft: 10,
                    paddingRight: 10
                }
            },
            button: {
                style: {
                    flex: 1,
                    margin: 1
                }
            },
            textBook: this.navigation.state.params.textBook,
            dWidth: deviceWidth,
            download: {
                showDownload: false,
                downloadProgress: "0% complete",
                title: ""
            },
            textBookName: "",
            thumbNailUrlName: "",
            isLocal: this.navigation.state.params.textBook.local?true:false,
            user: {
                isPrivate: false,
                isRequested: false,
                isOwned: false
            }
        }
    },
    methods: {
        readPressHandler() { 
            let url = this.textBook.local?this.textBook.url.replace('file://',''):env.resourcesUrl+this.textBook.url
            let fileType = this.textBook.local?"file":"url"
            this.navigation.navigate("ReadPdf",{url: url,fileType:fileType});
        },
        savePressHandler(){
            console.log(this.textBookName,this.thumbNailUrlName)
            this.download.showDownload = true 
            FileSystemService.downloadFile(
                this.textBook.url,
                this.textBookName,
                this.downloadProgress,
                ()=>{
                    FileSystemService.downloadFile(
                        this.textBook.thumbnail_url,
                        this.thumbNailUrlName,
                        this.downloadProgress,
                        this.downloadComplete
                    )
                }) 
        },
        deletePressHandler(){
            Alert.alert(
                'Delete book',
                'Are you sure you want to delete this book?',
                [ 
                    {
                        text: 'Cancel',
                        onPress: () => console.log('Cancel Pressed'),
                        style: 'cancel',
                    },
                    {
                        text: 'Yes', onPress: () => {
                            FileSystemService.deleteFile(this.textBookName,error=>{
                                Alert.alert("Book deleted!")
                                this.isLocal = false
                            })
                        }
                    },
                ],
                {cancelable: false},
            );

        },
        onCancelHandler(){
            FileSystemService.cancelDownload( error =>{
                this.download.showDownload = false 
                Alert.alert("Success!","Cancelled successfully")
            })
        },
        downloadProgress(received,total){
                let progress = Math.round(received/total*100)
                this.download.downloadProgress = `${progress}% complete`
        },
        downloadComplete(res){ 
                console.log(this.textBook)
                if(this.textBook.type==="textbook")
                    StorageService.storeTextBook(this.textBook)
                else
                    StorageService.storeReferenceBook(this.textBook)
                this.download.showDownload = false 
                Alert.alert("Download successful","You can find your saved book on the saved tab, if you cant see it, press refresh.") 
        }
    },
    created () {
        let bookStorageLocation = this.textBook.type==="textbook"? env.textbookStorageLocation: env.referencebookStorageLocation
        let thumbnailStorageLocation = this.textBook.type==="textbook"? env.tbThumbnailStorageLocation: env.rbThumbnailStorageLocation

        this.image.source.uri = this.textBook.local?this.textBook.thumbnail_url:env.resourcesUrl+this.textBook.thumbnail_url
        this.textBookName = bookStorageLocation + this.textBook.id
        this.thumbNailUrlName = thumbnailStorageLocation + this.textBook.id

        AuthenticationService.checkAuthentication(user=>{
            this.user.isPrivate = user.type==="private"
        })
    },
    components: {
        Header, 
        Line,
        ConfirmDialog
    },
}
</script>
<style>
    .description-text{
        font-weight: 100;
        font-size: 14;
        color: #222;
        text-align: justify;
    }
    .custom-badge{
        background-color: #008080;
    }
</style>