<template>
  <nb-container> 
    <nb-tabs>
      <nb-tab heading="Library">
        <online :style="{flex:1}" :navigation="navigation"/>
      </nb-tab>
      <nb-tab heading="Saved">
        <offline :style="{flex:1}" :navigation="navigation"/>
      </nb-tab> 
    </nb-tabs>
  </nb-container>
</template>
<script>

import Header from "../../components/Header"
import Offline from "./tabs/Offline"
import Online from "./tabs/Online"

export default {
    props: {
      navigation: {
        type: Object
      },
    },
    components: {
        Header,
        Offline,
        Online
    },    
}
</script>