<template>
    <nb-container>
        <nb-content class="login-content">
            <image :source="loginImage.source" :style="loginImage.style" class="login-image"/>

            <nb-card :style="{padding:5}">
                <nb-card-item header>
                    <view :style="{padding:1}">
                        <nb-content>
                            <text v-if="isMorning" :style="loginText.titleStyle">
                                Good morning, welcome!
                            </text>
                            <text v-if="isAfternoon" :style="loginText.titleStyle">
                                Good afternoon, welcome!
                            </text>
                            <text v-if="isEvening" :style="loginText.titleStyle">
                                Good evening, welcome!
                            </text>  
                            <text>
                                Please login to continue..
                            </text>                  
                        </nb-content>
                    </view>
                </nb-card-item>
                <nb-card-item>
                    <nb-form class="login-form">
                        <nb-item last> 
                            <nb-input v-model="loginCredentials.login" placeholder="Username or Email"/>
                        </nb-item>
                        <nb-item last>
                            <nb-input v-model="loginCredentials.password" placeholder="Password" :secureTextEntry="true"/>
                        </nb-item>
                        <nb-button block class="login-button" :onPress="handleLogin">
                            <nb-text>
                                Login
                            </nb-text>
                        </nb-button>
                    </nb-form>                    
                </nb-card-item>
                <nb-card-item footer>
                    <text :style="{alignSelf:'stretch', color:'#008080'}" :onPress="resetPassword">Reset password</text>
                    <view :style="{flex:1}"/>
                    <text :style="{textAlign:'right',color:'#008080'}" :onPress="verifyAccount">Verify account</text>
                </nb-card-item>

            </nb-card>
        </nb-content>
    </nb-container>
</template>
<script>
import { Dimensions } from "react-native"
import { Toast } from "native-base"

import LoginImage from "../../assets/images/logo.jpg"
import NavigationService from "../../services/NavigationService"
import AuthenticationService from "../../services/AuthenticationService"

const deviceHeight = Dimensions.get("window").height
const deviceWidth = Dimensions.get("window").width

let hours = new Date().getHours()

export default {
    data() {
        return {
            loginImage: {
                source: LoginImage,
                style: {
                    width: undefined,
                    height: deviceWidth/3.2,
                    flex: 1,
                    resizeMode: "contain",
                    marginTop: deviceWidth/12,
                    marginBottom: deviceHeight/16
                }
            }, 
            loginCredentials:{
                login: "",
                password: ""
            },
            isMorning: hours<12,
            isAfternoon: hours >= 12 && hours< 16,
            isEvening: hours>= 18,
            loginText:{
                titleStyle:{
                    fontSize: 20,
                    fontWeight: 'bold',
                    color: 'black'
                }
            }
        }
    },
    props: {
        navigation: {
            type: Object
        },
    },
    methods: {
        handleLogin() {
            AuthenticationService.login(
                this.loginCredentials,
                response=>{ 
                    Toast.show({
                        text: "Successful",
                        buttonText: "Okay"
                    });
                    NavigationService.navigate("Application")
                },
                failMessage=>{
                     Toast.show({
                        text: failMessage,
                        buttonText: "Okay"
                    });
                })
        },
        resetPassword(){
            this.navigation.navigate('PasswordReset')
        },
        verifyAccount(){
            this.navigation.navigate('Verification')
        }
    },
}
</script>
<style> 
    .login-content{
        padding: 10px;
    }
    .login-button{
        margin-top: 10px; 
    }
    .login-form{
        padding-left: 0px;
        flex: 1;
    } 
</style>