<template>
    <nb-container>
        <web-view v-if="!showSuccessMessage" :source="verificationSource" :onNavigationStateChange="onNavigationStateChange"></web-view>
        <nb-container v-if="showSuccessMessage" :style="{justifyContent:'center',alignItems:'center',flex:1}">
            <nb-h3>Verification successful</nb-h3>
            <nb-text>Please press login button to login with your credentials</nb-text>
            <nb-button :onPress="goToLoginHandler" :style="{marginTop:10}">
                <nb-text>
                    Go to login
                </nb-text>
            </nb-button>
        </nb-container>        
    </nb-container>

</template>
<script>
import React from "react"
import { WebView } from "react-native-webview"
import { BackHandler } from "react-native"
import env from "../../environments/app"

export default {
    data() {
        return {
            verificationSource: {
                uri: env.passwordResetUrl
            },
            onNavigationStateChange: this.onNavigationStateChageHandler,
            showSuccessMessage: false
        }
    },
    props: {
        navigation: {
            type: Object
        },
    },
    methods: {
        onNavigationStateChageHandler(navState) {
            console.log(navState.url,env.verificationSuccessUrl)
            if(navState.url === env.verificationSuccessUrl)
                this.showSuccessMessage = true
        },
        goToLoginHandler(){
            this.navigation.navigate("Login")
        }
    },
    mounted () {
        BackHandler.addEventListener('hardwareBackPress', ()=> {  
            if (this.showSuccessMessage) {
                return false;
            }
            return true;
        });
    },
    components: {
        WebView,
    },
}
</script>