<template>
  <nb-root>
    <style-wrapper>
      <app-navigator ref="appNavigatorRef"></app-navigator>
    </style-wrapper>
  </nb-root>
</template>
 
<script>
import React from "react"
import Vue from "vue-native-core"
import { VueNativeBase } from "native-base"
import Vuelidate from "vuelidate"

import {
  createSwitchNavigator,
  createAppContainer
  } from "vue-native-router"
import ApplicationScreen from "./boot/ApplicationScreen"
import AuthorizationScreen from "./boot/AuthorizationScreen"
import AuthLoadingScren from "./boot/AuthLoadingScreen"
import StyleWrapper from "./screens/components/StyleWrapper"

import NavigationService from "./services/NavigationService"
import DatabaseService from "./services/DatabaseService"

Vue.use(Vuelidate)
Vue.use(VueNativeBase)

const StackNavigator = createSwitchNavigator(
  {
    AuthLoading: AuthLoadingScren,
    Authorization: AuthorizationScreen,
    Application: ApplicationScreen
  },
  {
    initialRouteName: "AuthLoading",
    defaultNavigationOptions:{
      header: null
    }
  }
)

const AppNavigator = createAppContainer(StackNavigator)
export default {
  components:{
    AppNavigator,StyleWrapper
  },
  mounted () {
    DatabaseService.initiate()
    NavigationService.setTopLevelNavigator(this.$refs.appNavigatorRef); 
  },
  computed: { 
  },
  data() {
    return { 
    }
  },
}
</script>