<template>
    <nb-container :style="{flexDirection:'column',justifyContent:'flex-end'}">
        <flat-list 
            v-if="!loading.main" 
            :data="textBooks" 
            :renderItem="(textBook)=>loadTextBookView(textBook)"
            :keyExtractor="textBook => textBook.id.toString()"
            :numColumns="2"
            :horizontal="false" 
            :style="{flex:1}"
        />
         <view v-if="loading.main">
            <nb-spinner></nb-spinner>
        </view>
        <nb-button block :style="{margin:10}" :onPress="onRefreshPressHandler">
            <nb-text>Refresh</nb-text>
        </nb-button>
    </nb-container>
</template>
<script>
import React from "react" 
import { Dimensions, View } from "react-native"
import { Spinner } from "native-base"

import TextBook from "../../../components/TextBook"

import RequestsService from "../../../../services/RequestsService"
import FileSystemService from '../../../../services/FileSystemService'

import env from "../../../../environments/app"
import StorageService from '../../../../services/StorageService'

const deviceHeight = Dimensions.get("window").height;
const deviceWidth = Dimensions.get("window").width;

export default {
    props: {
        navigation: {
            type: Object
        },
    },
    data() {
        return {
            textBooks: [],
            page: 1,
            loading:{
                main: true,
                footer: true
            },
            itemStyle:{
                style:{
                    height: deviceHeight / 2.6
                }
            }
        }
    },
    mounted () {
        this.loadPageContents()
    },
    methods: {
        loadTextBookView(textBook) { 
            return (
                <TextBook textBook={textBook.item} navigation={this.navigation} style={this.itemStyle.style}/>
            )
        },
        loadPageContents(){
            this.textBooks = [];
            FileSystemService.getFilesInDirectory(env.referencebookStorageLocation,files=>{ 
                files.forEach( element => {
                    StorageService.getTextBook(element,res=>{
                        console.log(element,res)
                        if(res!=null)
                        this.textBooks.push(res)
                    })
                });
                this.loading.main = false
            }) 
          
        },
        onRefreshPressHandler(){
            this.loadPageContents()
        }
    },
    components: { 
    },
}
</script>