<template>
    <nb-container>
        <flat-list 
            v-if="!loading.main" 
            :data="textBooks" 
            :renderItem="(textBook)=>loadTextBookView(textBook)"
            :keyExtractor="textBook => textBook.id.toString()"
            :numColumns="2"
            :horizontal="false"
            :onReachEndThreshold="0.5"
            :ListFooterComponent="renderPageFooter"
            :onEndReached="onEndReachedHandler"
        />
         <view v-if="loading.main">
            <nb-spinner></nb-spinner>
        </view>
    </nb-container>
</template>
<script>
import React from "react" 
import { Dimensions, View } from "react-native"
import { Spinner } from "native-base"

import TextBook from "../../../components/TextBook"

import RequestsService from "../../../../services/RequestsService"

const deviceHeight = Dimensions.get("window").height;
const deviceWidth = Dimensions.get("window").width;

export default {
    props: {
        navigation: {
            type: Object
        },
    },
    data() {
        return {
            textBooks: [],
            page: 1,
            loading:{
                main: true,
                footer: true
            },
            itemStyle:{
                style:{
                    height: deviceHeight / 2.6
                }
            }
        }
    },
    mounted () {
        this.loadPageContents()
    },
    methods: {
        loadTextBookView(textBook) { 
            return (
                <TextBook textBook={textBook.item} navigation={this.navigation} style={this.itemStyle.style}/>
            )
        },
        loadPageContents(){
            RequestsService.getAllReferenceBooks({ paginate:8, page: this.page },textBooksResult=>{
                this.textBooks = this.textBooks.concat(textBooksResult.response)
                this.loading.main = false 
                this.page++
            })
        },
        renderPageFooter(){
            if(!this.loading.footer)
                return null

            return (
                <View>
                    <Spinner></Spinner>
                </View>
            )
        },
        onEndReachedHandler(){
            this.loadPageContents();
        }
    },
    components: { 
    },
}
</script>